body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    color: wheat;
}

.content {
    margin: 0 10%;
}

.content ul li {
    background-color: #df6c4e;
}

a {
    color: inherit;
    text-decoration: none;
}

.introduction h4 {
    margin: 2%;
}

/*NAVBAR*/

nav {
    border-bottom: 5px solid #df6c4e;
}


/* CARD */
.card {
    background-color: #df6c4e;
    color: wheat;
    margin: 10% auto;
    border-radius: 25px;
    border: 2px solid #df6c4e;
    width: 40%;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #207cfa;
    border-top: 5px solid #df6c4e;
    color: wheat;
}